@media (min-width: 768px) {
  #a {
    background-color: darkred;
    width: 100%;
    height: 100px;
    line-height: 100px;
  }
  
  #b {
    background-color: darkorange;
    width: 20.83%;
    height: 600px;
    line-height: 600px;
  }
  
  #c {
    background-color: rgb(169, 169, 77);
    width: 39.58%;
    height: 200px;
    line-height: 200px;
  }
  
  #d {
    background-color: darkgreen;
    width: 39.58%;
    height: 200px;
    line-height: 200px;
  }
  
  #e-h-section{
    box-sizing: border-box; 
  }
  
  .e-h{
    width: 19.79%;
    height: 250px;
    line-height: 250px;
  }
  
  #e {
    background-color: darkblue;
  }
  
  #f {
    background-color: rgb(55, 12, 85);
  }
  
  #g {
    background-color: rgb(136, 82, 136);
  }
  
  #h {
    background-color: rgb(159, 154, 154);
  }
  
  #i {
    background-color: rgb(53, 52, 52);
    width: 79.16%;
    height: 150px;
    line-height: 150px;
  }
}