body {
  display: flex;
  flex-direction: column;
}

#c-dDiv {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  #a {
    background-color: darkred;
    width: 100%;
    height: 100px;
    line-height: 100px;
  }

  #b-iSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: solid yellow 5px;

  }
  
  #bSection{
    flex:1;
    border: solid orange 5px;
  }

  #b {
    background-color: darkorange;
   
    /* min-width: 200px; */
    height: 600px;
    line-height: 600px;
    
  }

  #c-iSection{
    flex:4;
    border: solid red 5px;
  }
  
  #c-dDiv {
    flex: 4;
    display: flex;
    flex-direction: row;
    border: solid lime 5px;
  }

  
  #c {
    background-color: rgb(169, 169, 77);
    flex: 2;
    height: 200px;
    line-height: 200px;
  }
  
  #d {
    background-color: darkgreen;
    flex: 2;
    height: 200px;
    line-height: 200px;
  }
  
  #e-h-section{
    box-sizing: border-box;
    flex: 4; 
    display: flex;
    flex-wrap: nowrap;
    border: solid rgb(245, 125, 145);
  
  }
  
  .e-h{
    width: 19.79%;
    height: 250px;
    line-height: 250px;
    flex:1;
  }
  
  #e {
    background-color: darkblue;
  }
  
  #f {
    background-color: rgb(55, 12, 85);
  }
  
  #g {
    background-color: rgb(136, 82, 136);
  }
  
  #h {
    background-color: rgb(159, 154, 154);
  }
  
  #i {
    background-color: rgb(53, 52, 52);
    flex:4;
    height: 150px;
    line-height: 150px;
  }
}

@media (min-width: 1200px) {
  #a {
    background-color: rgb(85, 4, 4);
    color: white;
    width: 100%;
    height: 100px;
    line-height: 100px;
  }
  
  #b {
    background-color: rgb(179, 101, 6);
    color: white;
    width: 20.83%;
    height: 600px;
    line-height: 600px;
  }
  
  #c {
    background-color: rgb(109, 109, 37);
    color: white;
    width: 39.58%;
    height: 200px;
    line-height: 200px;
  }
  
  #d {
    background-color: rgb(4, 65, 4);
    color: white;
    width: 39.58%;
    height: 200px;
    line-height: 200px;
  }
  
  #e-h-section{
    box-sizing: border-box; 
  }
  
  .e-h{
    width: 19.79%;
    height: 250px;
    line-height: 250px;
  }
  
  #e {
    background-color: rgb(6, 6, 89);
    color: white;
  }
  
  #f {
    background-color: rgb(34, 8, 53);
    color: white;
  }
  
  #g {
    background-color: rgb(84, 43, 84);
    color: white;
  }
  
  #h {
    background-color: rgb(109, 104, 104);
    color: white;
  }
  
  #i {
    background-color: black;
    color: white;
    width: 79.16%;
    height: 150px;
    line-height: 150px;
  }
}